@import url('./__logo/header__logo.css');

.header {
  border-bottom: 1px solid #545454;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;  

  height: 74px;  
}

@media screen and (max-width: 320px) {
  .header {
    padding-left: 27px;

    height: 56px;  
    width: 100%;  
  }
}