@import url('./__edit-button/profile__edit-button.css');
@import url('./__content/profile__content.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__about/profile__about.css');
@import url('./__info/profile__info.css');
@import url('./__name/profile__name.css');
@import url('./__avatar/profile__avatar.css');

.profile {
  display: flex;
  align-items: center;
  
  margin: 40px auto 0;
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
  }
}