.auth-form__field {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;

  color: #ffffff;
  background-color: #000000;

  border: none;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 12px;
  margin: 30px auto 0;

  width: 100%;
}

.auth-form__field:focus {
  outline: none;
}

.auth-form__field:first-of-type {
  margin: 0 auto;
}

@media screen and (max-width: 430px) {
  .popup__field {
    font-size: 12px;
  }
}